* {
  margin: 0;
  padding: 0;
}
main {
  margin-top: 90px;
  margin-bottom: 100px;
}
header {
  margin-top: 100px;
  text-transform: uppercase;
  text-align: center;
  height: 280px;
  font-family: "PT Sans", sans-serif;
}
header p {
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  font-family: "PT", sans-serif;
  color: #898f99;
  margin: 15px;
}
header h1 {
  text-transform: uppercase;
  color: #0ec8cb;
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
}
.chapter {
  text-transform: uppercase;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 50px;

  width: 528px;
  height: 100px;
  font-size: 18px;
  line-height: 30px;
  color: #999999;
}
.border {
  background-color: #f7f7f7;
  margin: 0 auto;
}
.anchor {
  background-image: url("/img/anchor.png");
  width: 65.08px;
  height: 64px;
  margin-top: 55px;
  margin-left: 87.46px;
}
td:hover .anchor {
  background-image: url("/img/anchor\ \(1\).png");
}
.diamond {
  background-image: url("/img/diamond.png");
  width: 65.08px;
  height: 64px;
  margin-top: 55px;
  margin-left: 87.46px;
}
td:hover .diamond {
  background-image: url("/img/diamond\ \(1\).png");
}
.glasses {
  background-image: url("/img/glasses.png");
  width: 65.08px;
  height: 48px;
  margin-top: 55px;
  margin-left: 87.46px;
}
td:hover .glasses {
  background-image: url("/img/glasses\ \(1\).png");
}
.monitor {
  background-image: url("/img/monitor.png");
  width: 65px;
  height: 52px;
  margin-top: 55px;
  margin-left: 87.46px;
}
td:hover .monitor {
  background-image: url("/img/monitor\ \(1\).png");
}
a {
  text-decoration: none;
  display: block;
}
td {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  width: 240px;
  height: 420px;

  border: 1px solid #ececec;
}
td:hover {
  background-color: #0ec8cb;
}

h4 {
  color: #1b1b1b;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 21px;
  font-weight: 600;
  margin-top: 90px;
  margin-bottom: 30px;
}
td:hover h4,
td:hover p {
  color: #f7f7f7;
}
td p {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  display: inline-block;

  width: 212px;
  height: 110px;

  text-align: center;
  color: #777777;
}
