* {
  margin: 0;
  padding: 0;
}
header {
  text-transform: uppercase;
  text-align: center;
  height: 280px;
}
header p {
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  color: #898f99;

  margin: 15px;
}
header h1 {
  text-transform: uppercase;
  color: #0ec8cb;
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
}
.chapter {
  text-transform: uppercase;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 50px;

  width: 528px;
  height: 100px;
  font-size: 18px;
  line-height: 30px;
  color: #999999;
}
.border {
  background-color: #f7f7f7;
}
a {
  text-decoration: none;
}
td {
  display: inline-block;
  text-align: center;
  width: 240px;
  height: 420px;

  border: 1px solid #ececec;
}

h4 {
  color: #1b1b1b;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 21px;
  font-weight: 600;
  margin-top: 90px;
}
td p {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  display: inline-block;

  width: 212px;
  height: 110px;

  text-align: center;
  color: #777777;
}
.color {
  background-color: #0ec8cb;
  border: 1px solid #0ec8cb;
  box-sizing: border-box;
}
.color h4 {
  color: #f7f7f7;
}
.color p {
  color: #f7f7f7;
}
